@import "../colors.scss";
.LiteratureSurvey-container {
  .section-info-div {
    width: 90%;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 1px solid $primary-color;
      margin: 0px 1px;
      border-radius: 20px;

      .image-container {
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .section-figure {
  }
}
